<!DOCTYPE html>
<html lang="en">
<head>
    <% include includes/header %>
</head>
<body>
<% include includes/navigation %>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <form action="/addTask" method="post">

            <div class="form-group">
                <label for="name">Task Name</label>
                <input class="form-control" id="taskName" name="taskName"/>
            </div>

            <div class="form-group">
                <label for="name">Task Assignee</label>
                <input class="form-control" id="taskAssignee" name="taskAssignee"/>
            </div>

            <div class="form-group">
                <label for="due">Task Due</label>
                <input class="form-control" id="taskDue" name="taskDue"/>
            </div>

            <div class="form-group">
                <label for="due">Task Status</label>
                <select class="browser-default custom-select" id="taskStatus" name="taskStatus">
                    <option value="InProgress" selected>InProgress</option>
                    <option value="Complete">Complete</option>
                </select>

            </div>

            <div class="form-group">
                <label for="desc">Task Description</label>
                <input class="form-control" id="taskDescription" name="taskDescription"/>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

</body>
</html>